.toast-style-class {
  max-width: 20rem;
}

.map-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 600px;
}

#map {
  height: 100%;
}

.leaflet-routing-container {
  display: none;
}

::ng-deep {
  /* Altera a cor do texto das instruções para verde */
  .leaflet-routing-alt {
    color: #466276 !important;
  }

  /* Altera a cor de fundo das instruções para amarelo */
  .leaflet-routing-alt tr:hover {
    color: #56bdff !important;
  }
}

// .card {
//   background: var(--surface-card);
//   padding: 2rem;
//   border-radius: 10px;
//   margin-bottom: 1rem;
// }
